/*
Color Palette
#edffec
#61e786
#1c77c3
#f39237
#d63230
*/

body {
  background-color: #131417;
  font-size: 1.5rem;

  color: #edffec;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.decoration {
  z-index: -1;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.link {
  transition: 3s;
  color: #61e786;

  font-weight: 400;
  background: -webkit-linear-gradient(150deg, #f39237, #d63230);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link:hover {
  color: #d63230;
  background: -webkit-linear-gradient(100deg, #f39237, #61e786);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}

section {
  padding: 0px 200px;
  width: 70%;

  min-height: 100vh;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: left;
}

.readmore-symbol {
  width: 50px;
  height: 50px;

  position: absolute;
  bottom: 0px;
  left: calc(50vw - 25px);
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .readmore-symbol {
      animation-name: fade-out;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-timeline: scroll(nearest block);
    }
  }
}

@keyframes fade-out {
  50% {
    opacity: 0%;
    transform: rotate(2turn);
  }
  to {
    opacity: 0%;
    transform: rotate(2turn);
  }
}

.fancy-intro {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

.rotating-sides {
  position: relative;
  transform-style: preserve-3d;

  height: 50px;

  color: white;

  margin-left: 10px;

  animation: side-rotation 8s infinite ease-in-out;
}

.rotating-sides > div {
  position: absolute;

  width: 300px;
  height: 49px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 10px 10px; */
  text-transform: uppercase;
  border: white solid 2px;
}

.rotating-sides > div:nth-child(1) {
  transform: rotateY(0deg) translateZ(25px);
  background-color: #1c77c3;
}
.rotating-sides > div:nth-child(2) {
  transform: rotateX(-90deg) translateZ(25px);
  background-color: #f39237;
}
.rotating-sides > div:nth-child(3) {
  transform: rotateX(180deg) translateZ(25px);
  background-color: #d63230;
}

@keyframes side-rotation {
  from {
    transform: rotateX(0deg);
  }
  45% {
    transform: rotateX(90deg);
  }
  90% {
    transform: rotateX(180deg);
  }
}

.card {
  margin: 20px 0px;

  width: 70vw;

  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 10px;

  color: #131417;
}

.education-card {
  transition: all 0.5s;
}

.education-card:hover {
  filter: brightness(120%);
}

.university-holder {
  display: flex;
  align-items: center;
}

.university-holder > p {
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .scroll-up-anim {
      animation-name: scroll-up;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */
      animation-timeline: scroll(nearest block);
    }
  }
}

@keyframes scroll-up {
  from {
    transform: translateY(200px);
  }
  10% {
    transform: translateY(50px);
  }
  30% {
    transform: translateY(0px);
  }
}

.job-holder {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.job-holder > img {
  margin-right: 20px;
}
.job-period {
  background-color: #61e786;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
}
